h1{
color: rgb(77, 27, 27);
}
h2{
    color: rgb(32, 32, 179);
}
h3{
    color: #4c2371;
}
table, th, td {
    border: 1px solid black;
  }
  body {background-color: hsl(0, 8%, 57%);}

  /* Add a border to an element */
element-selector {
    border: 1px solid #7b4545; /* 1px width, solid style, and black color */
}



  /* Adding a border to a div with the class "box" */
.box {
    border: 2px dashed #b3937e; /* 2px width, dashed style, and orange color */
}




  